* {
  padding: 15px;
  background-color: black;
}

body {
  font-family: 'Abril Fatface', cursive;
  color: white;
}

header .titulo {
  font-size: 33px;
  text-align: center;
  padding: 0;
}

.subtitulo {
  font-size: 25px;
}

#contenido .subtitulo {
  color: gray;
}

.encabezado  {
  color: white;
  padding: 0px;
  background: center;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: white;
}

.FOTO{
  overflow-y: hidden;
  overflow-x: auto;
  max-width: 320px;
  max-height: 320px;
  margin-top: -650px;
  float: left;
}

.perfil .subtitulo{
  text-align: left;
}


